[Desktop Entry]
Encoding=UTF-8
Name=Link to DSOL Demo 1 - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=6lBF7VLM8B0&feature=youtu.be
Icon=text-html
